.product-cnt {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
  padding: 10px;
}

.product-cnt img {
  border: 2px solid black;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(114, 113, 113, 0.7), 0 0 20px rgba(0, 0, 0, 0.2);
  height: 250px;
  transition: transform 0.3s ease-in-out;
  width: 400px;
}

.product-cnt img:hover {
  cursor: pointer;
  transform: scale(1.04);
}

.product-cnt h2 {
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(45deg, #ff6b6b, #ac8cf8, #91f0ff);
  color: transparent;
  font-size: 26px;
  margin: 8px;
  max-width: 400px;
  text-align: center;
}

.product-cnt p {
  color: white;
  font-size: 12px;
  margin: 10px;
  max-width: 400px;
  text-align: center;
}

.product-cnt h3 {
  color: rgb(5, 160, 5);
}
