.product-cnt {
    padding: 10px;
    margin: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.product-cnt img {
    width: 400px;
    height: 250px;
    border-radius: 10px;
    border: 2px solid black;
    box-shadow: 0 0 10px rgba(114, 113, 113, 0.7), 0 0 20px rgba(0, 0, 0, 0.2);
}



.product-cnt h2 {
    background-image: linear-gradient(45deg, #ff6b6b, #ac8cf8, #91f0ff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 26px;
    
    margin: 3px;
    text-align: center;
    max-width: 400px;
}

.product-cnt p {

    text-align: center;

    color: white;
    font-size: 12px;
    margin: 10px;
    max-width: 400px;
}

.product-cnt h3 {
    color: rgb(5, 160, 5);
}